
#pangalan {
    padding-top: 25px;
    color: gold
}

#muteButton {
    width: 100px;
}

body {
    text-align: center;
    background-image: url("/assets/pic2.jpeg");
    background-size: cover;
    color: white
}

#etoNa img {
    height: 150px;
    width: 120px;
    margin: 1px;
}

#tangero img {
    height: 150px;
    width: 120px;
    margin: 1px;
}

#umpisa {
    width: 130px;
    height: 80px;
    font-size: 25px;
    margin-bottom: 10px;
}

#kuha {
    width: 100px;
    height: 70px;
    font-size: 25px;
    margin-bottom: 20px
}

#f5 {
    margin-bottom: 15px;
    height: 30px;
    width: 200px;
}

#sugarol {
    color: rgb(236, 230, 64);
}