#pangalan {
    padding-top: 25px;
    color: gold
}

#muteButton {
    background-color:blueviolet;
    width: 100px;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/assets/pic2.jpeg");
    background-size: cover;
    color: white
}

#etoNa img {
    height: 150px;
    width: 120px;
    margin: 1px;
}

#tangero img {
    height: 150px;
    width: 120px;
    margin: 1px;
}

#umpisa {
    width: 130px;
    height: 80px;
    font-size: 25px;
    margin-bottom: 10px;
}

#kuha {
    width: 100px;
    height: 50px;
    font-size: 25px;
    margin-bottom: 20px
}
#f5 {
    margin-bottom: 15px;
    height: 40px;
    width: 200px;
}
#sugarol {
    color: red;
}
