h1 {
    margin-top: 100px;
    margin-bottom: 200px;
    color: rgb(18, 0, 19);
}
body {
    font-family: "copperplate";
    text-align:center;
    font-size: 300%;
    background-image: url(./assets/pic2.jpeg);
    background-size: cover;
    color: rgb(190, 212, 22);
    font-weight: bold;
    
}
h6 {
    color: red
}

.baraha {
    color: violet
}

button {
    color: #f2f9f5;
    width: 150px;
    background: rgb(30, 122, 95);
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    vertical-align: middle;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
    margin-top: 50px
    
}
#talata {
    font-style: copperplate;
    font-weight: bold;
    
    
}
.sugarol {
    color: gold
}

/*credit background image (vistapointe.net)